$padding-elements: 5px;
$radius-elements: 5px;

button,
.btn{
   border-radius: $radius-elements;
   padding: $padding-elements;
   border: 1px solid $primary-color;
   background-color: white;
   display: inline-flex;
   align-items: center;
   color: $primary-color;
   border: none;

   &:not(.secondary) {
      background-color: $primary-color;
      color: white;
   }

   &:hover {
      filter: brightness(.95);
      cursor: pointer;
   }

   &:active {
      transform: scale(.95);
   }
}

input {
   padding: $padding-elements calc($padding-elements * 2);
   border-radius: $radius-elements;
   border: 1px solid $primary-color;
}

.publications-sect {
   padding: 10px;

   .publications {
      @include grid();

      .publication {
         color: black;

         img {
            border-radius: $radius-elements;
            background-color: rgba(0, 0, 0, 0.1); //TEMP
            aspect-ratio: 16/9;
            display: block;
         }

         p {
            color: gray;
         }
      }
   }
}

header {
   background-color: $primary-color;
   padding: 10px;

   &>.limiter {
      @include flex(space-between, center, 10px);

      form {
         @include flex();

         :first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
         }

         :last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
         }
      }

      .right {
         display: flex;
         gap: 10px;
      }
   }
}