* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 18px;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h3, h4, h5, h5, p {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.limiter, .center-box, main, body > #banner img {
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
}

.hidden {
  display: none !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
body > #banner {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
  background-color: black;
}
body > #banner img {
  background-color: rgba(255, 255, 255, 0.1);
  aspect-ratio: 4/1;
}

main {
  min-height: 80vh;
}

button,
.btn {
  border: 1px solid #0075F2;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  color: #0075F2;
  border: none;
}
button:not(.secondary),
.btn:not(.secondary) {
  background-color: #0075F2;
  color: white;
}
button:hover,
.btn:hover {
  filter: brightness(0.95);
  cursor: pointer;
}
button:active,
.btn:active {
  transform: scale(0.95);
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #0075F2;
}

fieldset {
  padding: 5px 10px;
  border: none;
}

header {
  background-color: #0075F2;
  color: white;
  padding: 10px;
}
header > .limiter, header > .center-box, body > #banner header > img, header > main {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 10px;
}
header > .limiter form, header > .center-box form, body > #banner header > img form, header > main form {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
}
header > .limiter form :first-child, header > .center-box form :first-child, body > #banner header > img form :first-child, header > main form :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
header > .limiter form :last-child, header > .center-box form :last-child, body > #banner header > img form :last-child, header > main form :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header > .limiter .right, header > .center-box .right, body > #banner header > img .right, header > main .right {
  display: flex;
  gap: 10px;
}

.publications-sect {
  padding: 10px;
}
.publications-sect .publications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.publications-sect .publications .publication {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  color: black;
}
.publications-sect .publications .publication img {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  aspect-ratio: 16/9;
  display: block;
}
.publications-sect .publications .publication p {
  color: gray;
}
.publications-sect .publications .publication .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: #005cbf;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.center-box {
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
.center-box fieldset * {
  margin-bottom: 15px;
}
.center-box input {
  width: 100%;
}/*# sourceMappingURL=form.css.map */