@import "./import/variables.scss";
@import "./import/mixins.scss";
@import "./import/basic.scss";
@import "./import/elements.scss";

body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
}

main {
   @extend .limiter;
   min-height: 80vh;
}

body>#banner {
   @include flex(center);
   
   img {
      background-color: rgba(0, 0, 0, 0.1);
      @extend .limiter;
      aspect-ratio: 4/1;
   }
}