* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 18px;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h3, h4, h5, h5, p {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.limiter, body main, body > #banner img {
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
}

.hidden {
  display: none !important;
}

header {
  background-color: #0075F2;
  color: white;
}
header > .limiter, body header > main, body > #banner header > img {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 60px;
}
header > .limiter form, body header > main form, body > #banner header > img form {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
}
header > .limiter form :first-child, body header > main form :first-child, body > #banner header > img form :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
header > .limiter form :last-child, body header > main form :last-child, body > #banner header > img form :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header > .limiter .right, body header > main .right, body > #banner header > img .right {
  display: flex;
  gap: 5px;
}
header > .limiter .right #account-box, body header > main .right #account-box, body > #banner header > img .right #account-box {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  min-height: 60px;
  padding: 5px;
}
header > .limiter .right #account-box #account-image, body header > main .right #account-box #account-image, body > #banner header > img .right #account-box #account-image {
  width: 25px;
}
header > .limiter .right #account-box [name=chevron-down-outline], body header > main .right #account-box [name=chevron-down-outline], body > #banner header > img .right #account-box [name=chevron-down-outline] {
  transition-duration: 0.3s;
}
header > .limiter .right #account-box [name=chevron-down-outline] + .dropdown, body header > main .right #account-box [name=chevron-down-outline] + .dropdown, body > #banner header > img .right #account-box [name=chevron-down-outline] + .dropdown {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #0075F2;
  padding: 5px 10px;
  position: absolute;
  min-width: 200px;
  max-width: 100vw;
  display: none;
  top: 100%;
  right: 0;
}
header > .limiter .right #account-box [name=chevron-down-outline].active, body header > main .right #account-box [name=chevron-down-outline].active, body > #banner header > img .right #account-box [name=chevron-down-outline].active {
  transform: rotate(180deg);
}
header > .limiter .right #account-box [name=chevron-down-outline].active + .dropdown, body header > main .right #account-box [name=chevron-down-outline].active + .dropdown, body > #banner header > img .right #account-box [name=chevron-down-outline].active + .dropdown {
  display: block;
}
header > .limiter .right #account-box [name=chevron-down-outline].active + .dropdown *:not(:last-child), body header > main .right #account-box [name=chevron-down-outline].active + .dropdown *:not(:last-child), body > #banner header > img .right #account-box [name=chevron-down-outline].active + .dropdown *:not(:last-child) {
  margin-bottom: 5px;
}
header > .limiter .right #account-box a, body header > main .right #account-box a, body > #banner header > img .right #account-box a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
body > #banner {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
  background-color: black;
}
body > #banner img {
  aspect-ratio: 4/1;
}
body main {
  min-height: 80vh;
}

.publications-sect {
  padding: 10px;
}
.publications-sect .publications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.publications-sect .publications .publication {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  color: black;
}
.publications-sect .publications .publication img {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  aspect-ratio: 16/9;
  display: block;
  width: 100%;
}
.publications-sect .publications .publication p {
  color: gray;
}
.publications-sect .publications .publication .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button,
.btn {
  border: 1px solid #0075F2;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  color: #0075F2;
  border: none;
}
button:not(.secondary),
.btn:not(.secondary) {
  background-color: #0075F2;
  color: white;
}
button:hover,
.btn:hover {
  filter: brightness(0.95);
  cursor: pointer;
}
button:active,
.btn:active {
  transform: scale(0.95);
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #0075F2;
}

fieldset {
  padding: 5px 10px;
  border: none;
}

.buttons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=global.css.map */