@import "./import/variables.scss";
@import "./import/mixins.scss";

@import "./import/elements.scss";
@import "./import/header.scss";
@import "./import/body.scss";

main {
    img {
        background-color: black;
        display: block;
        width: 100%;
    }

    .container:first-child img{
        aspect-ratio: 16 / 9;
        margin-bottom: 20px;
    }

    #guests {
        justify-content: center;
        display: flex;
        gap: 10px;

        .guest-box {
            @include flex(center, center, 2px, column);

            .guest {
                border-radius: 100%;
                aspect-ratio: 1 / 1;
            }
        }
    }
}