* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 18px;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h3, h4, h5, h5, p {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

button,
.btn {
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  transition-duration: 0.3s;
  border: 1px solid #0075F2;
  display: inline-flex;
  align-items: center;
  color: #0075F2;
}
button:hover,
.btn:hover {
  filter: brightness(0.95);
  cursor: pointer;
}
button:not(.secondary),
.btn:not(.secondary) {
  background-color: #0075F2;
  color: white;
}
button:hover,
.btn:hover {
  cursor: pointer;
}
button:active,
.btn:active {
  filter: brightness(0.95);
  transform: scale(0.95);
}

input {
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #0075F2;
}
input:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

fieldset {
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
fieldset:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.btns {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

header {
  background-color: #0075F2;
}
header > section {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 0px;
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
  min-height: 60px;
  position: relative;
}
header > section form {
  display: flex;
}
header > section .right {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
}
header > section .right .btns {
  display: flex;
  gap: 10px;
}
header > section .right .btns:not([hidden]) + #account-box {
  display: none;
}

#account-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 5px;
}
#account-box #account-image {
  width: 25px;
}
#account-box #account-image:not([active]) + #account-dropdown {
  display: none;
}
#account-box #account-dropdown {
  border-radius: 0 0 5px 5px;
  background-color: #0075F2;
  position: absolute;
  min-width: 150px;
  display: block;
  padding: 10px;
  z-index: 50;
  top: 100%;
  right: 0;
}
#account-box #account-dropdown li {
  list-style: none;
}
#account-box #account-dropdown li * {
  color: white;
}
#account-box #account-dropdown :not(:last-child) {
  margin-bottom: 10px;
}

main {
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
}
main .container:first-child h2:first-child {
  margin-top: 20px;
}
main .container {
  margin-bottom: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
body > #banner {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
  background-color: black;
}
body > #banner img {
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 4/1;
}

main img {
  background-color: black;
  display: block;
  width: 100%;
}
main .container:first-child img {
  aspect-ratio: 16/9;
  margin-bottom: 20px;
}
main #guests {
  justify-content: center;
  display: flex;
  gap: 10px;
}
main #guests .guest-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2px;
}
main #guests .guest-box .guest {
  border-radius: 100%;
  aspect-ratio: 1/1;
}/*# sourceMappingURL=publication.css.map */