* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

@import "./font.scss";

.limiter {
  margin-inline: auto;
  max-width: $limit;
  width: 100%;
}

.hidden {
  display: none !important;
}