* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

@import "./font.scss";

.limiter {
  margin-inline: auto;
  max-width: $limit;
  width: 100%;
}

.hidden {
  display: none !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;

  &>#banner {
    @include flex(center);
    background-color: black;

    img {
      background-color: rgba(255, 255, 255, 0.1);
      @extend .limiter;
      aspect-ratio: 4/1;
    }
  }
}

main {
  @extend .limiter;
  min-height: 80vh;
}