main {
    @include limiter();
    min-height: 100vh;

    .container:first-child h2:first-child {
        margin-top: 20px;
    }

    .container {
        margin-bottom: 50px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    &>#banner {
        @include flex(center);
        background-color: black;

        img {
            @include limiter();
            aspect-ratio: 4 / 1;
        }
    }
}