button,
.btn {
   @include basic-element();

   transition-duration: $duration;
   border: 1px solid $color;
   display: inline-flex;
   align-items: center;
   color: $color;

   &:not(.secondary) {
      background-color: $color;
      color: white;
   }

   &:hover {
      cursor: pointer;
   }

   &:active {
      filter: brightness(.95);
      transform: scale(.95);
   }
}

input {
   @include basic-element();

   border: 1px solid $color;
}

fieldset {
   @include basic-element();
}

.btns {
   @include flex(center, center, 10px);
}