header {
    background-color: $color;

    &>section {
        @include flex(space-between);
        @include limiter();

        &>a img {
            width: 40px;
        }

        min-height: $header-h;
        position: relative;

        form {
            display: flex;
        }

        .right {
            @include flex();

            .btns {
                display: flex;
                gap: 10px;

                &:not([hidden])+#account-box {
                    display: none;
                }
            }
        }
    }
}

@import "./account.scss"