@mixin flex($justify: center, $align: center, $gap: 0px, $direction: row) {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    display: flex;
    gap: $gap;
}

@mixin grid($cols: auto, $rows: auto, $gap: 10px) {
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    display: grid;
    gap: $gap;
}

@mixin limiter($max: $limit, $width: 100%, $margin-inline: auto) {
    margin-inline: $margin-inline;
    max-width: $max;
    width: 100%;
}

@mixin basic-element() {
    background-color: white;
    border-radius: $el-rad;
    padding: $el-pad;

    &:hover {
        filter: brightness(.95);
        cursor: pointer;
    }
}