.publications {
    @include grid(repeat(auto-fill, minmax(200px, 1fr)));

    .publication {
        position: relative;
        color: white;

        img, .information{
            transition-duration: $duration;
        }

        img {
            border-radius: $el-rad;
            width: 100%;
        }

        .information {
            position: absolute;
            width: 90%;
            opacity: 0;
            bottom: 5px;
            left: 5%;

            .date {
                font-size: 0.7em;
            }

            .title {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        &:hover {
            img {
                filter: brightness(0.9);
            }

            .information {
                opacity: 1;
            }
        }
    }
}