.publications-sect {
   padding: 10px;

   .publications {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;

      .publication {
         width: 100%;
         color: white;
         max-width: 100%;
         position: relative;
         box-sizing: border-box;

         img {
            border-radius: $radius-elements;
            background-color: rgba(0, 0, 0, 0.1);
            aspect-ratio: 16/9;
            transition: 0.3s;
            display: block;
            width: 100%;
         }

         .information {
            position: absolute;
            transition: 0.3s;
            width: 90%;
            opacity: 0;
            bottom: 0;
            left: 5%;

            .date{
               font-size: .7em;
            }

            .title {
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }

         &:hover {
            img {
               filter: brightness(0.4);
            }

            .information {
               opacity: 1;
            }
         }
      }
   }
}